{% extends "eventapp/layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
    {%include "eventapp/partials/nav.html"%}
    <div class="row">
        <div class="col-8 mt-2">
            <h1> All Events </h1>
        </div>
        <div class="col-4 mt-3">
            <form method="post">
                {%csrf_token%}
                {{forms.as_p}}
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </form>
        </div>
    </div>
    
    <hr>
    <div class="row">
        {% for event in events %}
            <div class="card col-md-4 m-1" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="{%url 'event_details' event.pk%}" class="text-decoration-none">{{event.title}}</a></h5>
                    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>for categories -->
                    <p class="card-text">{{event.description}}</p>
                    <!-- <a href="#" class="card-link">Book Event</a> -->
                    <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}